<header>
    <h1>{{organizationName}}</h1>
    <corejs:button data-id="info">
        <text><-</text>
        <background-color>$buttonBgColor</background-color>
        <color>$buttonColor</color>
    </corejs:button>
    <corejs:button data-id="info" data-item="buttonSwitch" data-on="click:switchInfo">
        <text>{{infoLabel}}</text>
        <background-color>$buttonBgColor</background-color>
        <color>$buttonColor</color>
    </corejs:button>
    <corejs:button>
        <text>-></text>
        <background-color>$buttonBgColor</background-color>
        <color>$buttonColor</color>
    </corejs:button>
</header>
