<header>
    <corejs:button data-id="prev" data-on="click:prev">
        <class>fa fa-arrow-left</class>
        <text> Spettacolo Prec.</text>
        <background-color>$buttonBgColor</background-color>
        <color>$buttonColor</color>
    </corejs:button>
    <corejs:button data-id="info" data-item="buttonSwitch" data-on="click:switchInfo">
        <text>{{infoLabel}}</text>
        <class>fa fa-info-circle</class>
        <background-color>$buttonBgColor</background-color>
        <color>$buttonColor</color>
    </corejs:button>
    <corejs:button data-id="next" data-on="click:next">
        <class>fa fa-arrow-right</class>
        <text>Prossimo Spettacolo </text>
        <background-color>$buttonBgColor</background-color>
        <color>$buttonColor</color>
    </corejs:button>
</header>
