.& {
    width: 150px;
    height: 42px;
    display: inline-block;
    border-radius: 30px;
    margin: 0 5px;
    font-size: 20px;
    background-color: $backgroundColor;
    color: $color;
    border: none;
    cursor: pointer;
}
.&:hover {
    opacity: 0.8;
}
.&:active {
    opacity: 0.5;
}
