.& {
    color: $primaryFgColor;
    text-align: left;
}
.& .title,.& .count,.& .date {
    padding: 5px 5px;
    display: inline-block;
}
.& .strong {
    font-weight: bold;
}
.& .strong {
    border-bottom: 1px solid $primaryFgColor;
}

.& .title {
    width: 320px;
}
.& .count {
    width: 60px;
}
.& .date {
    width: 140px;
}
.& .print {
    width: 42px;
    height: 29px;
}
