<div class="bookings">
    <table>
        <tr>
            <th>Data</th>
            <th>Spettacolo</th>
            <th>Posti</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>Sabato 11 gennaio 2017</td>
            <td>Il marinaio impazzito</td>
            <td>2</td>
            <td>
                <corejs:button data-on="click:print">
                    <text>Stampa</text>
                    <background-color>white</background-color>
                    <color>$buttonColor</color>
                </corejs:button>
            </td>
            <td>
                <corejs:button data-on="click:delete">
                    <text>Elmina</text>
                    <background-color>red</background-color>
                    <color>$buttonColor</color>
                </corejs:button>
            </td>
        </tr>
    </table>
</div>

