<section class="info">
    <h2 data-item="title">
        Il marinario impazzito
    </h2>
    <em>
        <span data-item="date">Sabato 11 gennaio 2017</span>
        -
        <span dat-item="hour">21:00</span>
    </em>
    <div data-item="more">
        <div class="director">Regia di Bruno Gavazzi</div>
        <div class="type">Commedia</div>
        <div class="description">
            Un storia teatrale ispirata dal celebre romanzo di Hemingway "Il vecchio e il mare"
            dove il protagonista, un vecchio marinaio, si trova ad ...
        </div>


    </div>
</section>
