.& {
    color: $primaryFgColor;
    width: 640px;
    display: inline-block;
}
.& .wrapper {
    padding: 0;
}
.& .wrapper fieldset {
    margin-top: 5px;
    text-align: left;
}

.& legend {
    color: $buttonBgColor;
}
