<div class="settings">
    <!--<div data-on="click:toggleBurger" data-item="burger" class="burger">-->
        <!--<span></span>-->
        <!--<span></span>-->
        <!--<span></span>-->
    <!--</div>-->
    <div data-item="wrapper" class="wrapper">
        <fieldset title="Accesso">
            <legend>Accesso:</legend>
            <corejs:sign data-id="sign"></corejs:sign>
        </fieldset>
        <fieldset data-item="bookingsWrapper" title="Prenotazioni">
            <legend>Prenotazioni confermate:</legend>
            <corejs:bookings data-id="bookings"></corejs:bookings>
        </fieldset>
        <fieldset data-item="adminWrapper" title="Admin">
            <legend>Adimistartor:</legend>
            <corejs:admin data-id="admin"></corejs:admin>
        </fieldset>
    </div>
    <br/><br/>
</div>
