<div class="settings">
    <div data-on="click:toggleBurger" data-item="burger" class="burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div data-item="wrapper" class="wrapper">
        <fieldset title="Accesso">
            <legend>Accesso:</legend>
            <corejs:sign data-id="sign"></corejs:sign>
        </fieldset>
        <fieldset data-item="bookings" title="Prenotazioni">
            <legend>Prenotazioni:</legend>
            <corejs:bookings></corejs:bookings>
        </fieldset>
    </div>
</div>
